# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
components/elero/__pycache__/__init__.cpython-311.pyc
components/elero/cover/__pycache__/__init__.cpython-311.pyc
